*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    background-color:black; 
    color:white;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
}
nav ul{
   display: flex;
   list-style-type: none; 
}
nav ul li{
    margin: 0 10px;
    padding: 0 10px;
}
nav ul li a{
    text-decoration: none;
    color:white ;
}
nav ul li a:hover{
    background-color:none ;
    color: yellow;
}
body{
    background-image:url(../Images/world.png);
}
.database{
   list-style-type: none;
 display: none;  
    
}
.about{
   text-align: center;
   font-size: 40px; 
}
.page1{
    font-style: italic;
    font-size: 20px;

}
.box1{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-size:17px ;
}
.button{
    color:black;
    border-radius: 10px;
    margin:0;
    padding: 5px 10px;

}
.button:hover{
   color:white; 
   background-color: brown;
}