*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    background-color:black; 
    color:white;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
}
nav ul{
   display: flex;
   list-style-type: none; 
}
nav ul li{
    margin: 0 10px;
    padding: 0 10px;
}
nav ul li a{
    text-decoration: none;
    color:white ;
}
nav ul li a:hover{
    background-color:none ;
    color: yellow;
}
body{
    background-image:url(../Images/world.png);
}
.database{
   list-style-type: none;
 display: none;  
    
}
.about{
   text-align: center;
   font-size: 40px; 
}
.page1{
    font-style: italic;
    font-size: 20px;
}
.login{
width: 350px;
height:400px ;
background-color: palevioletred;
box-shadow: 5px 5px 10px;
border-radius:15px;
margin: 2% auto ;
padding: 2% ;
text-align: center;
}
.input_box{
    width:200px ;
    height:30px ;
    margin: 3% ;
    padding: 5% ;
    border: none;
    border-radius: 5px ;
}
.button{
    background-color: white ;
    border-radius:5px ;
    padding:10px ;
    border: none;
    cursor: pointer;
    width: 60px;
    height: 30px;
    

}